{{ $fulllogosource := resources.Get "images/logo_full.png" }}
{{ $fulllogo := $fulllogosource.Resize "x40 webp" }}
{{ $smalllogosource := resources.Get "images/logo_small.png" }}
{{ $smalllogo := $smalllogosource.Resize "25x25 webp" }}
<nav>
	<div id="toplogo">
		<a href="/"><img src="{{ $fulllogo.RelPermalink }}" alt="Config Management Camp"></a>
	</div>
	<ul>
		<li><img src="{{ $smalllogo.RelPermalink }}" alt="CfgMgmtCamp"></li>
		{{ range .Site.Menus.navbar }}
			<li><a href="{{ .URL }}">{{ .Name }}</a> | </li>
		{{ end }}
		<li><img src="{{ $smalllogo.RelPermalink }}" alt="CfgMgmtCamp"></li>
	</ul>
</nav>
